html,
body,
#app {
  height: 100%;
  margin: 0;
  min-width: 1366px;
}

* {
  padding: 0;
  margin: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15);
}
.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-pagination {
  margin-top: 9px;
}
.el-menu {
  border-right: 0;
}
